
#colginfo {margin:0px;padding:1%;border:1px solid #0dc23d;border-radius:3px;background-color:#acf0be;}/* #93f0ac;} */

#colginfo img {border:1px solid black;border-radius:5px;}
#colginfo p {margin:5px;}

#colgname {font-size:20px;font-weight:bold;text-align:center;overflow:auto;margin:5px 0px 15px 0px;}

#about {height:auto;overflow-y:auto;}

#recent {text-decoration:underline;text-align:center;font-size:16px;font-weight:bold;margin-top:20px;margin-bottom:5px;}

.more {display:block;text-align:right;padding-right:0px;}
#more {font-size:13px;font-weight:bold;color:#195dac;border:1px solid #195dac;border-radius:2px;padding:0px 3px 0px 3px;}
#more:hover {color:white;background-color:#195dac;}