
#postlist {display:block;height:auto;} 

.postlistitem {margin:10px 4px 10px 4px;border-bottom:1px solid black;}

.posttitle {font-size:18px;font-weight:bold;margin-bottom:5px;}
.authorname {float:left;margin-left:5%;}
.posttime {float:right;margin-right:5%;}
.postexcerpt {margin:10px;margin-bottom:10px;}
