
#content {background-color:#ceedff;}

#posthead {font-size:21px;font-weight:bold;text-align:center;overflow:auto;}

#posttime, #authorname {font-size:15px;font-weight:normal;padding:0px 5px 0px 5px;}
#authorname {float:left;}
#posttime {float:right;}

#postcontent {margin-top:10px;height:auto;overflow:auto;}