/* MAIN STYLE */
html {overflow-y:scroll;}
body {font-size:15px;color:#000000;color:#404040;background-color:#F6F4F0;margin:0px;font-family:verdana,helvetica,arial,sans-serif;}

a:link {text-decoration:none}

header {width:100%;margin:0px;height:60px;text-align:center;padding:0;background-color:white;z-index:1000;}
#banner {width:1076px;margin:0px auto;height:58px;text-align:center;background-color:white;z-index:1000; border:1px solid #aaa;}
#topcontainer {height:25px;background-color:white;width:100%;box-shadow:0 10px 10px #aaa;}
#topbar {height:20px;width:1040px;margin:auto;word-spacing:12px;font-size:12px;padding-left:20px;padding-right:20px;padding-top:5px;background-color:white;}
#tabs_cont {width:200px; min-height:500px; background-color:#195dac; float:left; padding:4px;padding-bottom:0px; border:1px solid #195dac; border-radius:5px;}
a.topbar{display:inline-block;color:#195dac;font-weight:bold;}
a.topbar:hover{color:black;}
.topnav{display:inline-block;margin:0px;padding:0px 4px 0px 4px;border-radius:2px;}
.topnav:hover{background-color:#b9b9b9;}
.tab_btn {width:194px; min-height:20px; max-height:auto; float:left; background-color:white; border:1px solid white; border-radius:5px; text-align:center;padding:2px;margin-bottom:4px;}
.tab_btn:hover {color:black;background-color:#90f3cf;border:1px solid #90f3cf;}
.tab_link {font-size:14px;}


main {width:1080px; min-height:400px; max-height:auto; margin:0 auto; }
#main_wrap {width:1070px; min-height:100%; max-height:auto; float:left;background-color:#fff; box-shadow:0 20px 25px #aaa;padding:5px;}

#content {width:832px; min-height:500px; max-height:auto; margin-left:214px; background-color:white; border:2px solid #195dac; border-radius:5px; padding:10px; position:absolute; color:#aaa;min-height:1070px;}

#intro {height:auto;overflow:auto;}

#submitbutton {height:30px;width:70px;background-color:#195dac;border:1px solid #195dac;border-radius:5px;font-weight:bold;}
.submitbutton {text-align:center;}

footer {width:100%;margin:0px;height:30px;text-align:center;padding:0;background-color:white;z-index:1000; float:left;}


